footer{
  width: 100vw;
  @media (min-width: 1024px) {
    border-top: 1px solid black;
    display:flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content:space-evenly;
  }
  button {
    border: 2px solid transparent;
  
    &:hover {
      border-radius: 0px;
      box-shadow: 5px 5px 10px #5a5a5a,
        -5px -5px 10px #ffffff;
    }
  }
}

footer > *{
  justify-content: center;
}

.levels-key{
  display: flex;
  max-width: 100vw;
  margin: 0 1rem;
}

.levels-aqi{
  // padding: 0.5rem;
  font-size:7.7px;
  text-align: center;
  margin: 1rem 0.1rem;
  button {
    height: 100%;
    width: calc(100vw / 13);
    @media (min-width:1024px) {
      width: calc(600px / 11);
      height: auto;
    }
  }
}

.footer-nav{
  border-top: 1px solid black;
  display: flex;
  align-items: baseline;
  a{
    text-decoration: none;
    color: $primary-color;
    padding: 1rem;
  }

  @media (min-width: 1024px) {
    border-top: none;
  }
}
