.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $navBar-color;
  padding: 1rem 5rem;
}

.navbar-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;


  .form-control {
    color: white;
    background-color: transparent;
    margin: 0 1rem;
    position: relative;
    display: flex;
    flex-direction: column;

    .input-label {
      font-family: 'Futura';
      color: white;
      margin-bottom: 0.5rem;
      position: absolute;
      top: -0.75rem;
      left: 0.5rem; 
      background-color: $navBar-color;
      padding: 0 0.25rem;
    }

    .select {
      font-family: 'Futura';
      font-size: x-large;
      font-weight: 800;
      color: white;
      background-color: transparent;
      border: none;
      padding-top: 1rem;
    }
  }

  .navbar-button {
    color: white;
    font-weight: 800;
    font-size: x-large;
    border: none;
    background-color: transparent;
    text-decoration: none;

    @media (max-width: 576px) {
      padding: 10px;
      font-size: 16x;
    }
  }

  svg {
    color: white;
  }

  fieldset {
    border-color: white;
  }
}
