.filter-bar {
  @include flex(row, center, space-between);
  padding: 1em 5em;


  .search {
      align-self: flex-start;
      // width: calc(100vw - 20em);
          }

  button {
      @include button($secondary-color, white);
      padding: 1em 2em;
      // margin-right: 1em;
  }

  button:hover {
      @include button(white, $secondary-color);
  }
}