* {
    box-sizing: border-box;
    font-family: 'Futura','HelveticaNeue';
}

html {
    font-size: 15px;
    min-width: min-content;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    
    @media (min-width: 600px) {
      // flex-direction: row;
      min-height: calc(100vh - 126.94px - 73.45px);
    }
}

.spinner {
    // height: calc(100vh - 91.25px - 61.55px);
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

